@import '~STYLE/color.less';

.pagination-container {
  display: flex;
  user-select: none;
  justify-content: center
}

.pagination-item {
  height: 24px;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid var(--border-deep);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  cursor: pointer;
  font-size: 12px;
  &.pagination-item-active {
    background: var(--main-color);
    color: #fff;
  }
}