.newsong {
  margin-top: 20px;
}
.newsong-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 80px;
  padding: 0 30px;
  &:nth-child(odd) {
    background: #FAFAFA;
  }
  &:hover {
    background: #F2F2F2;
  }
  img {
    border-radius: 5px;
  }
  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:nth-child(1) {
      width: 5%;
    }
    &:nth-child(2) {
      width: 60px;
    }
    &:nth-child(3) {
      width: 40%;
      padding: 0 5px 0 10px;
    }
    &:nth-child(4) {
      width: 20%;
      padding: 0 5px;
    }
    &:nth-child(5) {
      width: 20%;
      padding: 0 5px;
    }
    &:nth-child(6) {
      width: 40px;
    }
  }
}

.newsong-item-pic {
  height: 60px;
  width: 60px;
}

.newalbum {
  display: flex;
  flex-wrap: wrap;
}

.newalbum-item-pic {
  height: 130px;
  width: 130px;
}

.new-filter {
  margin-bottom: 5px;
  user-select: none;
  > span {
    margin-right: 25px;
    &.active {
      font-weight: bold;
    }
    &:hover {
      font-weight: bold;
    }
  }
}