.newsong {
  margin-top: 20px;
}
.newsong-item {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  height: 80px;
  font-size: 13px;
  &:nth-child(odd) {
    background: var(--musiclist-background-even);
  }
  &:hover {
    background: var(--musiclist-background-hover);
  }
  img {
    border-radius: 5px;
  }
  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:nth-child(1) {
      width: 5%;
      color: var(--text-9);
    }
    &:nth-child(2) {
      flex: 0 0 60px;
    }
    &:nth-child(3) {
      width: 50%;
      padding: 0 5px 0 10px;
    }
    &:nth-child(4) {
      width: 20%;
      padding: 0 5px;
    }
    &:nth-child(5) {
      width: 20%;
      padding: 0 5px;
    }
    &:nth-child(6) {
      width: 40px;
      color: var(--text-9);
    }
  }
}

.newsong-item-pic {
  height: 60px;
  width: 60px;
}

.newalbum {
  display: flex;
  flex-wrap: wrap;
}

.newalbum-item-pic {
  height: 130px;
  width: 130px;
}

.new-filter {
  margin-bottom: 5px;
  user-select: none;
  padding: 0 25px;
  display: flex;
  align-items: center;
  > span {
    margin-right: 25px;
    &.active {
      font-weight: bold;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
.current-playlist-tab {
  display: flex;
  width: 210px;
  margin: 20px auto;
  border: 1px solid var(--border-deep);
  border-radius: 20px;
  font-size: 13px;
  > div {
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
    &.active {
      background: var(--tab-background) !important;
      color: #fff;
    }
    &:hover {
      background: var(--tab-background-hover);
    }
  }
}
.new-filter-option {
  margin-left: auto;
  > button {
    margin-left: 5px;
  }
}

.new-album-container {
  padding: 0 25px;
}