@import '~STYLE/color.less';

.cloud-list-item-wrap {
  &:first-child {
    border-top: 1px solid var(--border);
  }
  &:nth-child(even) {
    background: var(--musiclist-background-even);
  }
  &:not(:first-child) {
    &:hover {
      background: var(--musiclist-background-hover);
    }
  }
  &:first-child {
    color: var(--text-3) !important;
  }
}

.cloud-container {
  padding: 20px;
  min-width: 800px;
}
.cloud-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #999999;
  > span {  
    margin-right: 10px;
  }
}
.cloud-disk-option {
  padding-top: 20px;
}
.cloud-disk-bar {
  position: relative;
  display: inline-block;
  height: 5px;
  width: 100px;
}
.cloud-disk-bar-default {
  display: inline-block;
  height: 5px;
  width: 100px;
  border-radius: 5px;
  background: #F2F2F2;
  position: absolute;
}
.cloud-disk-bar-current {
  position: absolute;
  height: 5px;
  width: 50%;
  border-radius: 5px;
  background: #000000;
  left: 0;
  top: 0;
}
.cloud-list {
  margin: 20px -20px;
}
.cloud-list-item {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 13px;
  user-select: none;
  > div {
    height: 100%;
    display: flex;
    align-items: center;
    > span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:nth-child(1) {
      width: 5%;
      display: flex;
      justify-content: center;
      color: var(--text-9);
    }
    &:nth-child(2) {
      padding-right: 10px;
      width: 32%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:nth-child(3) {
      width: 19%;
      color: var(--text-6);
    }
    &:nth-child(4) {
      width: 19%;
      color: var(--text-6);
    }
    &:nth-child(5) {
      width: 8%;
      color: var(--text-9);
    }
    &:nth-child(6) {
      width: 8%;
      color: var(--text-9);
    }
    &:nth-child(7) {
      width: 8%;
      color: var(--text-9);
    }
  }
}
