.search-panel-container {
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 50px;
  bottom: 60px;
  width: 360px;
  background: var(--panel-background);
  z-index: 10;
  box-shadow: -3px 0px 3px -3px rgba(0, 0, 0, .2);
}
.search-panel-title {
  color: var(--text-9);
  padding: 20px;
}
.search-panel-keyword {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  > span {
    margin: 0 5px;
    padding: 7px 16px;
    border-radius: 20px;
    border: 1px solid var(--border-deep);
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    &:hover {
      background: var(--default-background);
      i {
        display: block;
      }
    }
    i {
      position: absolute;
      right: 3px;
      top: 7px;
      display: none;
    }
  }
}

.search-suggest-title {
  color: var(--text-6);
  padding: 12px;
  font-size: 14px;
  i {
    font-size: 16px !important;
    color: var(--text-6);
    margin-right: 3px;
  }
}

.search-suggest-item {
  padding: 12px 0 12px 25px;
  font-size: 13px;
  &:hover {
    background: var(--default-background);
  }
}

.search-panel-keyword-nodata {
  text-align: center;
  margin-top: 30px;
}