@import '~STYLE/color.less';
.playlist-info-wrap {
  display: flex;
}
.playlist-img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.playlist-info {
  margin-left: 30px;
}
.playlist-info-user-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.playlist-info-title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.playlist-info-title-icon {
  height: 20px;
  text-align: center;
  line-height: 20px;
  width: 35px;
  font-size: 13px;
  color: @color-main;
  border: 1px solid @color-main;
  border-radius: 2px;
  margin-right: 10px;
}
.playlist-info-user {
  margin-top: 20px;
  font-size: 13px;
}
.playlist-info-user-name {
  margin: 0 8px;
}
.playlist-info-num {
  margin-top: 20px;
  font-size: 13px;
}
.playlist-info-action {
  display: flex;
  align-items: center;
  margin-top: 23px;
}
.playlist-info-action-playall {
  height: 30px;
  width: 140px;
  background: @color-main;
}