.button-commen {
  background: transparent;
  outline: none;
  border: none;
  padding: 5px 25px;
  margin: 0;
  border-radius: 25px;
  font-size: 13px;
  cursor: pointer;
  transition: width .3s;
}

.button-type-primary {
  background: var(--main-color);
  color: #FFFFFF;
  &:hover {
    background: rgb(255, 0, 0, .1);
  }
}

.button-type-default {
  background: transparent;
  border: 1px solid #D9D9D9;
  color: #333333;
  &:hover {
    background: #F3F3F3;
  }
}