.message-container {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 60px;
  width: 360px;
  background: #fff;
  z-index: 10;
  box-shadow: -3px 0px 3px -3px rgba(0, 0, 0, .2);
}
.message-panel-tab {
  display: flex;
  margin: 20px;
  border: 1px solid #BBBBBB;
  border-radius: 20px;
  font-size: 13px;
  > div {
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
    &.active {
      background: #BBBBBB !important;
      color: #fff;
    }
    &:hover {
      background: #F1F2F2;
    }
  }
}