.video-container {
  width: 755px;
  margin: 0 auto;
}
.video-content {
  display: flex;
  flex-wrap: wrap;
}
.video-item {
  img {
    height: 130px;
    width: 230px;
  }
}
.video-filter {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .video-filter-item {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: var(--main-color);
    }
    &.active {
      color: var(--main-color);
      background: rgba(211, 57, 49, .1);
    }
  }
}
.video-filter-btn {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  height: 30px;
  border: 1px solid var(--border-deep);
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    background: var(--default-background);
  }
  .icon-arrow {
    font-size: 18px;
    width: 10px;
  }
}

.video-filter-btn-wrap {
  position: relative;
}
.video-cate {
  background: var(--panel-background);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
  width: 520px;
  height: 400px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 40px;
  border-radius: 5px;
  padding: 20px 20px;
  overflow-y: auto;
}
.video-cate-item {
  display: flex;
  flex-wrap: wrap;
  > span {
    cursor: pointer;
    padding: 4px 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 13px;
    &:hover {
      color: var(--main-color)
    }
    &.active {
      color: var(--main-color);
      background: rgba(211, 57, 49, .1);
    }
  }
}
.video-cate-all {
  margin-bottom: 20px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: var(--main-color)
  }
}