.userlist-container {
  min-width: 900px;
  display: flex;
  flex-wrap: wrap;
}
.userlist-item {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  width: 450px;
  border-radius: 4px;
  &:hover {
    background: var(--default-background);
  }
  > img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }
}
.userlist-item-info {
  margin-left: 10px;
  width: 0;
  flex: 1;
}
.userlist-item-name {
  font-weight: bold;
}
.userlist-item-signature {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
  font-size: 13px;
}
.userlist-item-count {
  margin-top: 10px;
  font-size: 13px;
  > span {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
