
.toplist-netease-wrap {
  padding: 30px;
}
.toplist-world-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
.toplist-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
}
.toplist-netease-item-img {
  height: 170px;
  width: 170px;
}
.toplist-netease-item {
  display: flex;
  margin-bottom: 30px;
}
.toplist-netease-item-list {
  margin-left: 30px;
}
.toplist-netease-item-list-item {
  height: 35px;
  display: flex;
  align-items: center;
}