.vip-dialog-pay {
  width: 280px;
  margin: -14px;
  text-align: center;
  .vip-dialog-background {
    width: 280px;
    height: 135px;
    border-radius: 5px 5px 0 0;
    background-image: url('~ASSETS/images/buy_vip_bg.jpg');
    background-size: cover;
    background-color: var(--default-background);
  }
  .vip-dialog-pay-text {
    font-size: 14px;
  }
  .vip-dialog-content {
    padding: 20px;
    > button {
      margin-top: 20px;
    }
  }
}