@import '~STYLE/color.less';

.artist-filter {
  padding: 20px 10px;
}

.artist-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.artist-item {
  margin: 0 10px 40px 10px;
  > img {
    height: 133px;
    width: 133px;
    border-radius: 5px;
  }
}