.comment-textarea-wrap {
  height: 70px;
  border-radius: 5px;
  padding: 5px 0 15px 8px;
  position: relative;
  background: var(--default-background);
  &.replied {
    margin-top: 10px;
  }
  &.deep {
    background: var(--default-background-deep);
    .comment-textarea {
      background: var(--default-background-deep);
    }
  }
}
.comment-textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: var(--default-background);
  font-size: 13px;
  &::placeholder {
    color: var(--text-9);
  }
}
.comment-textarea-reset {
  position: absolute;
  right: 12px;
  bottom: 5px;
  font-size: 13px;
  color: var(--text-9);
}
.comment-textarea-action {
  display: flex;
  margin-top: 10px;
  align-items: center;
  i {
    margin-right: 10px;
    font-size: 18px;
  }
  button {
    margin-left: auto;
  }
}

.comment-title {
  font-weight: 600;
  margin-top: 20px;

}
.comment-item {
  display: flex;
  &:not(:last-child) {
    .comment-item-info {
      border-bottom: 1px solid var(--border);
      &.deep {
        border-bottom: 1px solid var(--border);
      }
    }
  }
}
.comment-item-user-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 20px;
}
.comment-item-info {
  margin-left: 15px;
  flex: 1;
  padding: 17px 0 20px;
}
.comment-item-info-replay {
  padding: 10px;
  border-radius: 5px;
  background: var(--default-background);
  margin-top: 8px;
  &.deep {
    background: var(--default-background-deep);
  }
}
.comment-item-info-text {
  font-size: 14px;
  line-height: 1.5;
  &.replied {
    color: var(--text-6);
  }
}
.comment-item-info-action {
  margin-top: 7px;
  width: 100%;
  display: flex;
  font-size: 13px;
  align-items: center;
  i {
    margin: 0 10px;
  }
}
.comment-item-info-time {
  color: var(--text-9);
  font-size: 13px;
  margin-right: auto;
}
.comment-item-info-like {
  font-size: 13px;
  line-height: 13px;
  margin: 0 10px;
  color: var(--text-6);
  i {
    margin: 0 3px 0 0;
  }
}
.comment-nodata {
  text-align: center;
}
.comment-count {
  margin-bottom: 10px;
  font-weight: bold;
  > span {
    color: var(--text-6);
    font-size: 12px;
    margin-left: 10px;
    font-weight: normal;
  }
}

.comment-replied-area {
  margin-top: 10px;
}