.comment-textarea-wrap {
  height: 70px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
}
.comment-textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
.comment-textarea-reset {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
}
.comment-textarea-action {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.comment-textarea-action-btn {
  margin-left: auto;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  line-height:30px;
  text-align: center;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  &:hover {
    background: #F3F3F3;
  }
}
.comment-title {
  font-weight: 600;
}
.comment-item {
  display: flex;
  padding: 20px 0;
}
.comment-item-user-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.comment-item-info {
  margin-left: 15px;
}
.comment-item-info-text {
  font-size: 14px;
}
.comment-item-info-name {
  color: #507DAF;
  cursor: pointer;
  &:hover {
    color: #0B59AF
  }
}
.comment-item-info-action {
  margin-top: 10px;
}
.comment-item-info-time {
  color: #C0C0C0;
  font-size: 13px;
}