@import '~STYLE/color.less';

.music-list-item-wrap {
  &:nth-child(even) {
    background: #FAFAFA;
  }
  &:not(:first-child) {
    &:hover {
      background: #F2F2F2;
    }
  }
}

.music-list-item {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 13px;
  user-select: none;
  > div {
    height: 100%;
    display: flex;
    align-items: center;
    &:nth-child(1) {
      width: 100px;
      .icon-heart-full {
        color: @color-main;
      }
    }
    &:nth-child(2) {
      width: 37%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      i {
        color: @color-main;
        font-size: 15px !important;
        margin-left: 3px;
        cursor: pointer;
      }
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 25%;
    }
    &:nth-child(5) {
      width: 5%;
    }
    
  }
  .music-list-item-playing {
    color: @color-main
  }
}
.music-list-item-action {
  > span {
    color: #C0C0C0;
    margin: 0 10px 0 20px;
    flex: 0 0 30px;
  }
  > i {
    height: 18px;
    cursor: pointer;
    color: #C0C0C0;
  }
  .icon-sound {
    color: @color-main
  }
}

.music-list-item-link {
  color: #666666;
  cursor: pointer;
  &:hover {
    color: #333333;
  }
}

.muisc-list-item-duration {
  color: #999999;
}

.context-menu {
  background: #F0F2F1;
  padding: 5px 0;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .1);
  user-select: none;
}

.context-menu-item {
  background: #F0F2F1;
  line-height: 25px;
  width: 155px;
  padding-left: 20px;
  font-size: 13px;
  &:hover {
    background: #4C94FA;
    color: #FFFFFF;
  }
}