.video-mv-container {
  width: 730px;
  margin: 0 auto;
  padding-top: 30px;
}
.video-mv-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  > span {
    cursor: pointer;
  }
}

.video-mv-toplist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: -15px;
  height: 550px;
}
.video-mv-toplist-item {
  width: 365px;
  height: 110px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
}
.video-mv-toplist-img {
  height: 90px;
  flex: 0 0 90px;
  border-radius: 5px;
}
.video-mv-toplist-info {
  flex: 1;
  margin-left: 10px;
  width: 0;
  .video-mv-toplist-name {
    font-size: 13px;
    font-weight: 500;
  }
  .video-mv-toplist-artist {
    font-size: 12px;
    margin-top: 10px;
    color: #999999;
  }
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.video-mv-content {
  min-height: 414px;
}

.video-mv-toplist-index {
  width: 30px;
  margin-right: 10px;
  font-size: 25px;
  text-align: center;
  color: #999999;
}