.leftbar-wrap {
  user-select: none;
  height: 100%;
}
.leftbar-user {
  height: 60px;
  display: flex;
  align-items: center;
}
.leftbar-item {
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 13px;
  overflow: hidden;
  width: 200px;
  color: var(--text-3);
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15px;
  }
  i {
    margin-right: 8px;
  }
  &:hover {
    background: var(--leftbar-background-active);
  }
}

.leftbar-item-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 12px;
  margin-bottom: 5px;
  i {
    vertical-align: -1px;
    font-weight: bold;
  }
}
.leftbar-login {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--leftbar-background-active);
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  i {
    color: var(--color-white);
  }
}
.leftbar-login-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.leftbar-playlist {
  overflow-y: auto;
  height: calc(100% - 60px);
}
.leftbar-user-panel {
  width: 320px;
  background: var(--color-white);
  position: absolute;
  z-index: 10;
  left: 88px;
  top: 0;
  box-shadow: 0px 0px 5px var(--text-c);
  border-radius: 5px;
}
.leftbar-login-username {
  position: relative;
  i {
    font-size: 11px;
    margin-left: 5px;
    color: var(--text-9);
  }
}

.leftbar-user-social {
  display: flex;
  justify-content: center;
}
.leftbar-user-social-item {
  padding: 0 30px;
  margin-top: 20px;
  cursor: pointer;
  > div {
    text-align: center;
    &:first-child {
      font-weight: bold;
      font-size: 20px;
    }
    &:last-child {
      font-size: 12px;
      color: var(--text-6);
      margin-top: 5px;
    }
  }
  &:first-child {
    padding-left: 0;
  }
  &:not(:last-child) {
    border-right: 1px solid var(--border);
  }
}

.leftbar-user-panel-item {
  margin-top: 20px;
  font-size: 13px;
  > div {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      background: var(--default-background);
    }
    &:nth-child(1) {
      border-top: 1px solid var(--border);
    }
    &:nth-child(4) {
      border-top: 1px solid var(--border);
    }
    &:nth-child(6) {
      border-top: 1px solid var(--border);
    }
  }
  i {
    margin-right: 8px;
    color: var(--text-3);
  }
}

:global {
  .leftbar-item-active {
    background: var(--leftbar-background-active);
    color: var(--main-color);
    i {
      color: var(--main-color);
    }
  }
}