@import '~STYLE/mixin.less';
@import '~STYLE/color.less';
.leftbar-wrap {
  user-select: none;
}
.leftbar-user {
  height: 60px;
  display: flex;
  align-items: center;
}
.leftbar-item {
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
  overflow: hidden;
  width: 200px;
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15px;
  }
  i {
    margin-right: 8px;
  }
  &:hover {
    background: #e2e2e2;
  }
  &.active {
    background: #e2e2e2;
    color: @color-main;
    i {
      color: @color-main;
    }
  }
}
.icon-neteastmusic {
  height: 20px;
  font-size: 19px !important;
}
.icon-mv {
  width: 20px;
  font-size: 18px !important;
}
.iconfriend {
  font-size: 20px !important;
}

.leftbar-item-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 12px;
  margin-bottom: 5px;
}
.leftbar-login {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  i {
    font-size: 14px;
    color: #fff;
  }
}
.leftbar-login-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.leftbar-triangle {
  .triangle(#8e8e8e, 4px);
  display: inline-block;
  margin-left: 8px;
}