.activity-dialog-add-content {
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-top: none;
  padding: 0 10px;
  &:hover {
    background: var(--defalut-background);
  }
}
.activity-dialog-textarea-wrap {
  border: 1px solid var(--border);
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 5px 10px 10px;
}
.activity-dialog-textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: var(--main-background);
}
.activity-dialog-textarea-option {
  display: flex;
  > i {
    margin-right: 5px;
  }
}
.activity-dialog-textarea-reset {
  margin-left: auto;
}
.activity-dialog-add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #FC5045, #D53A32);
  color: #FFFFFF;
}
.activity-dialog-add-cover {
  > img {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background: var(--defalut-background);
  }
}
.activity-dialog-button-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}
.activity-dialog-add-tip {
  font-size: 14px;
  margin-left: 10px;
}
.activity-dialog-search {
  height: 300px;
  display: flex;
  flex-direction: column;
}
.activity-dialog-input-wrap {
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  padding: 0 10px;
  border-radius: 5px;
  flex: 1;
  input {
    border: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    &::placeholder {
      font-size: 13px;
    }
  }
}
.activity-dialog-search-content {
  flex: 1;
  overflow-y: auto;
}
.activity-dialog-selected {
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  i {
    display: inline-block;
    transform: rotate(90deg) scale(0.8) !important;
  }
}
.activity-dialog-selected-content {
  position: absolute;
}
.activity-dialog-search-list {
  margin-top: 10px;
}
.activity-dialog-search-item {
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    background: var(--defalut-background);
  }
}
.activity-dialog-selected-content {
  background: var(--main-background);
  width: 50px;
  top: 20px;
  box-shadow: 0px 0px 3px -3px rgba(0, 0, 0, .2);
  li {
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    &:hover {
      background: var(--defalut-background);
    }
  }
}