@import '~STYLE/color.less';

.commen-filter-item {
  display: flex;
  font-size: 12px;
  span {
    display: inline-block;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 0;
    margin: 0 15px 10px 0;
    position: relative;
    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 1px;
        background: #f2f2f2;
        right: -7px;
      }
    }
    &.active {
      color: @color-main;
      background: rgba(211, 57, 49, .1);
    }
  }
}

.commen-video-content {
  display: flex;
  flex-wrap: wrap;
}

.commen-video-item {
  width: 170px;
  margin: 0 10px 40px;
  position: relative;
  img {
    border-radius: 5px;
    width: 170px;
  }
  .commen-video-text {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
  }
  .commen-video-artist {
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
  }
  .commen-video-icon-arrow {
    font-size: 20px !important;
    font-weight: 500;
  }
}