:global {
  .icon-color-main {
    color: var(--main-color);
    &.hover {
      &:hover {
        cursor: pointer;
        color: var(--main-color);
      }
    }
  }

  .icon-color-3 {
    color: #333333;
    &.hover {
      &:hover {
        cursor: pointer;
        color: #000000;
      }
    }
  }

  .icon-color-6 {
    color: #666666;
    &.hover {
      &:hover {
        cursor: pointer;
        color: #333333;
      }
    }
  }

  .icon-color-9 {
    color: #999999;
    &:hover {
      cursor: pointer;
      color: #666666;
    }
  }

  .icon-color-c {
    color: #cccccc;
    &:hover {
      cursor: pointer;
      color: #999999;
    }
  }
  .icon-music-highquality {
    display: inline-block;
    color: @color-main;
    border: 1px solid @color-main;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px;
    transform: scale(0.8);
    margin-left: 2px;
  }
}