html, body {
  padding: 0;
  margin: 0;
  line-height: 1;
  height: 100%;
}

#app {
  height: 100%;
}

.appwrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  flex: 0 0 60px;
  background: #f9f9f9;
}

.main {
  flex: 1;
  display: flex;
}

.main-left {
  flex: 0 0 200px;
  background: #ededed;
}

.bottom {
  flex: 0 0 60px;
  background: #ededed;
}