@import '~STYLE/color.less';

.current-playlist-container {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 60px;
  width: 420px;
  background: #fff;
  z-index: 10;
  box-shadow: -3px 0px 3px -3px rgba(0, 0, 0, .2);
}
.current-playlist-tab {
  display: flex;
  width: 210px;
  margin: 20px auto;
  border: 1px solid #BBBBBB;
  border-radius: 20px;
  font-size: 13px;
  > div {
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
    &.active {
      background: #BBBBBB !important;
      color: #fff;
    }
    &:hover {
      background: #F1F2F2;
    }
  }
}

.current-music-list-item {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 13px;
  &:nth-child(even) {
    background: #FAFAFA;
  }
  > div {
    height: 100%;
    display: flex;
    align-items: center;
    &:nth-child(1) {
      width: 20px;
    }
    &:nth-child(2) {
      width: 45%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:nth-child(3) {
      width: 23%;
    }
    &:nth-child(4) {
      width: 14%;
      justify-content: center;
    }
    &:nth-child(5) {
      width: 20%;
    }
  }
  &:not(:first-child) {
    &:hover {
      background: #F2F2F2;
    }
  }
  .music-list-item-playing {
    color: @color-main
  }
}

.current-playlist-action {
  display: flex;
  margin: 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F3F3F3;
  .current-playlist-action-title {
    font-size: 12px;
    color: #c1c1c1;
    margin-right: auto;
    line-height: 16px;
  }
  .current-playlist-action-star, .current-playlist-action-delete {
    padding: 0 15px;
    font-size: 13px;
    cursor: pointer;
    i {
      margin-right: 3px;
      vertical-align: -1px;
    }
  }
  .current-playlist-action-delete {
    border-left: 1px solid #F3F3F3;
  }
}
.current-music-list-wrap {
  height: calc(100% - 104px);
  overflow-y: auto;
}