@import '~STYLE/color.less';

.fm-container {
  width: 730px;
  margin: 0 auto;
}
.fm-song {
  display: flex;
}
.fm-song-cover-current {
  height: 270px;
  width: 270px;
  img {
    width: 100%;
    border-radius: 5px;
  }
}