@import '~STYLE/color.less';

.fm-container {
  width: 770px;
  margin: 0 auto;
  padding: 40px 20px 20px;
}
.fm-song {
  display: flex;
  margin-bottom: 30px;
}

.fm-song-left {
  flex: 0 0 270px;
}

.fm-song-cover {
  position: relative;
  display: flex;
  align-items: center;
  height: 270px;
}

.fm-play-icon {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  z-index: 1;
  transition: all .3s;
  i {
    font-size: 20px;
    color: @color-main;
  }
  &.play {
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
  }
  &.pause {
    left: 210px;
    top: 210px;
  }
}

.fm-song-cover-content {
  position: absolute;
  overflow: hidden;
  transition: all .5s;
  &.current {
    height: 270px;
    width: 270px;
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }
  &.prev {
    height: 230px;
    width: 230px;
    transform: translateX(-30px);
    z-index: 0;
  }
  &.next {
    height: 270px;
    width: 270px;
    opacity: 0;
    transform: translateX(100%);
  }
  &.remove {
    height: 200px;
    width: 200px;
    transform: translateX(-60px);
    opacity: 0;
    z-index: -1;
  }
  &.delete {
    opacity: 0;
  }
  > img {
    width: 100%;
    border-radius: 5px;
  }
}

.fm-song-cover-current {
  height: 270px;
  width: 270px;
  position: absolute;
  right: 0;
  z-index: 1;
  img {
    width: 100%;
    border-radius: 5px;
  }
}
.fm-song-cover-prev {
  height: 250px;
  width: 250px;
  position: absolute;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.fm-song-cover-next {
  height: 270px;
  width: 270px;
  position: absolute;
  opacity: 0;
  img {
    width: 100%;
    border-radius: 5px;
  }
}

.fm-info {
  flex: 1;
  margin-left: 50px;
}
.fm-info-name {
  font-size: 22px;
  margin-bottom: 20px;
}
.fm-info-album {
  display: flex;
  > div {
    width: 33.33%;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  span {
    margin-left: 10px;
  }
}
.fm-info-lyrics {
  margin: 10px 0;
  border-right: 1px solid #F0EFF0;
  height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}
.fm-info-lyrics-item {
  color: #656465;
  &.active {
    font-size: 16px;
    color: #333333;
  }
}

.fm-action {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  i {
    height: 40px;
    width: 40px;
    background: #F5F5F5;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    font-size: 18px;
    color: #666666;
    &:hover {
      background: #EDEDEB;
    }
  }
  .icon-heart-full {
    color: @color-main;
  }
}