@import '~STYLE/color.less';

.activity-container {
  display: flex;
  padding: 20px;
  min-width: 800px;
}

.activity-list {
  flex: 1;
  padding-right: 28px;
}

.activity-topic {
  flex: 0 0 240px;
  border-left: 1px solid #F3F3F3;
  margin-top: 20px;
}

.activity-topic-title {
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.activity-topic-item {
  display: flex;
  padding: 8px 20px;
  &:hover {
    background: #F5F5F5;
  }
}
.activity-topic-img {
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.activity-topic-info {
  margin-left: 8px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 0;
  flex: 1;
}
.activity-topic-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.activity-topic-count {
  color: #cccccc;
  margin-top: 5px;
}
