@import '~STYLE/color.less';

.activity-container {
  display: flex;
  padding: 20px;
  min-width: 800px;
}

.activity-list {
  flex: 1;
  padding-right: 28px;
}

.activity-topic {
  flex: 0 0 240px;
  border-left: 1px solid #F3F3F3;
  margin-top: 20px;
}

.activity-topic-title {
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
