.activity-container {
  display: flex;
  padding: 0 20px;
}

.activity-list {
  flex: 1;
  padding-right: 20px;
}

.activity-topic {
  flex: 0 0 240px;
  border-left: 1px solid #F3F3F3;
}

.activity-topic-item {
  display: flex;
  padding: 8px 20px;
  &:hover {
    background: #F5F5F5;
  }
}
.activity-topic-img {
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.activity-topic-info {
  margin-left: 8px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 0;
  flex: 1;
}
.activity-topic-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.activity-topic-count {
  color: #cccccc;
  margin-top: 5px;
}

.activity-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #F3F3F3;
}

.activity-user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.activity-user-info {
  flex: 1;
}
.activity-use-info-name{
  font-size: 13px;
  > span {
    color: #507DAF;
    cursor: pointer;
    margin-right: 10px;
    &:hover {
      color: #0B59AF
    }
  }
}
.activity-use-info-time {
  font-size: 12px;
  margin: 8px 0 14px;
  color: #999999;
}
.activity-use-info-message {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.activity-song {
  display: flex;
  padding: 10px;
  background: #F5F5F5;
  border-radius: 5px;
  img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  .activity-song-info {
    flex: 1;
    font-size: 13px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child {
        color: #999999;
        margin-top: 8px;
      }
    }
  }
}
.activity-list-topic {
  padding: 20px 0 20px 50px;
  border-bottom: 1px solid #F3F3F3;
  img {
    height: 190px;
    width: 450px;
    border-radius: 5px;
  }
}