@import '~STYLE/color.less';
.mini-player-wrap {
  height: 100%;
  position: relative;
  min-width: 1000px;
  z-index: 2;
  background: #fff;
}
.mini-player-progress-wrap {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &:hover {
    .mini-player-progress-icon {
      visibility: visible;
    }
  }
}
.mini-player-progress-default {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #F5F5F5;
}
.mini-player-progress {
  position: absolute;
  top: 0;
  height: 2px;
  background: @color-main;
}
.mini-player-progress-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background: @color-main;
  top: -5px;
  right: -5px;
  visibility: hidden;
}
.mini-player-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.mini-player-song {
  position: absolute;
  left: 10px;
  display: flex;
  .mini-player-song-img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
  }
  .mini-player-song-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
    .mini-player-song-name {
      font-size: 13px;
    }
    .mini-player-song-duration {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
.mini-player-control {
  display: flex;
  align-items: center;
  .icon-play, .iconzanting {
    font-size: 45px;
    margin: 0 20px;
    color: @color-main;
    cursor: pointer;
  }
  .iconforward, .iconforward1 {
    font-size: 18px;
    color: @color-main;
    cursor: pointer;
  }
  .iconxin {
    font-size: 18px;
    margin-right: 25px;
    cursor: pointer;
  }
}

.mini-player-action {
  position: absolute;
  right: 25px;
  display: flex;
  i {
    margin-left: 15px;
  }
  .icon1 {
    font-size: 18px;
  }
}
