.lyric-container {
  overflow: hidden;
}
.player-info-lyrics {
  margin-top: 30px;
  border-right: 1px solid #F0EFF0;
  height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}
.player-info-lyrics-item {
  color: #666666;
  font-size: 16px;
  &.active {
    color: #000000;
    font-weight: 500;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.player-info-lyrics-item-translate {
  font-size: 15px;
  margin-top: 8px;
}