@import '~STYLE/color.less';
.chat-panel-container {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 60px;
  width: 360px;
  background: var(--main-background-deep);
  z-index: 10;
  box-shadow: -3px 0px 3px -3px rgba(0, 0, 0, .2);
  user-select: none;
  display: flex;
  flex-direction: column;
}
.chat-panel-title {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  i {
    transform: rotate(180deg);
    font-size: 20px;
  }
  span {
    flex: 1;
    text-align: center;
  }
}
.chat-panel-content {
  flex: 1;
  overflow-y: auto;
}
.chat-panel-textarea {
  padding: 16px;
}
.chat-panel-item {
  padding: 16px;
  display: flex;
  font-size: 13px;
  &.me {
    justify-content: flex-end;
    .chat-panel-item-content {
      background: linear-gradient(to right, #FC5045, #D53A32);
      border-radius: 10px 10px 0 10px;
      color: #FFFFFF;
    }
  }
}
.chat-panel-item-user-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.chat-panel-item-wrap {
  display: flex;
}
.chat-panel-item-content {
  background: #E2E2E2;
  max-width: 250px;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  margin-left: 10px;
}
.chat-panel-item-content-mesage {
  line-height: 1.5;
}
.chat-panel-item-content-other {
  margin-top: 10px;
}
.chat-content-playlist {
  background: #F9F9F9;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 230px;
  border-radius: 5px;
  &:hover {
    background: #D3D4D3;
  }
}
.chat-content-playlist-cover {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 10px;
}
.chat-content-playlist-info-name {
  > span {
    display: inline-block;
    color: var(--main-color);
    font-size: 12px;
    border: 1px solid var(--main-color);
    padding: 2px 2px;
    transform: scale(0.8);
  }
}
.chat-content-playlist-info-user {
  margin-top: 5px;
  color: var(--text-9);
}
.chat-content-mv {
  position: relative;
}
.chat-content-mv-cover {
  height: 130px;
  width: 230px;
  border-radius: 5px;
}
.chat-content-mv-name {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  color: #FFFFFF;
  padding: 0 5px;
  line-height: 1.4;
}
.chat-contnet-mv-info {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 0 5px;
}
.chat-content-promotion {
  background: #F9F9F9;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 230px;
  border-radius: 5px;
  &:hover {
    background: #D3D4D3;
  }
  > div {
    line-height: 1.5;
  }
}
.chat-content-general-cover {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  margin-right: 10px;
}
.chat-content-promotion-cover {
  height: 40px;
  width: 60px;
  border-radius: 4px;
  margin-right: 5px;
}

.comment-textarea-wrap {
  height: 70px;
  border-radius: 5px;
  padding: 5px 0 15px 8px;
  position: relative;
  background: #FAFAFA;
  &.replied {
    margin-top: 10px;
  }
  &.deep {
    background: var(--default-background-deep);
    .comment-textarea {
      background: var(--default-background-deep);
    }
  }
}
.comment-textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #FAFAFA;
  font-size: 13px;
  &::placeholder {
    color: var(--text-9);
  }
}
.comment-textarea-reset {
  position: absolute;
  right: 12px;
  bottom: 5px;
  font-size: 13px;
  color: var(--text-9);
}
.comment-textarea-action {
  display: flex;
  margin-top: 10px;
  align-items: center;
  i {
    margin-right: 10px;
    font-size: 18px;
  }
  button {
    margin-left: auto;
  }
}