.search-container {
  user-select: none;
}
.search-keyword-wrap {
  padding: 20px 30px;
}
.search-keyword {
  font-size: 22px;
  font-weight: bold;
}
.search-keyword-num {
  font-size: 12px;
  margin-left: 5px;
}
.search-tab {
  padding-left: 30px;
  border-bottom: 1px solid #f3f3f3;
}
.search-tab-item {
  margin-right: 30px;
  font-size: 15px;
  padding: 10px 0;
  display: inline-block;
  &:hover {
    font-weight: bold;
  }
  &.active {
    font-weight: bold;
  }
}