.search-container {
  user-select: none;
  min-width: 800px;
}
.search-keyword-wrap {
  padding: 20px 30px;
}
.search-keyword {
  font-size: 22px;
  font-weight: bold;
}
.search-keyword-num {
  font-size: 12px;
  margin-left: 5px;
}
.search-tab {
  padding-left: 30px;
  border-bottom: 1px solid var(--border);
}
.search-tab-item {
  margin-right: 30px;
  font-size: 15px;
  padding: 10px 0;
  display: inline-block;
  &:hover {
    font-weight: bold;
    color: var(--text-0);
  }
  &.active {
    font-weight: bold;
    color: var(--text-0);
  }
}
.search-artist-item {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  &:nth-child(even) {
    background: var(--musiclist-background-even);
  }
  &:hover {
    background: var(--musiclist-background-hover);
  }
}
.search-artist-item-avatar {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin-right: 10px;
}
.search-video-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.search-video-item {
  width: 170px;
  margin: 0 10px 40px;
  position: relative;
}
.search-video-img {
  height: 95px;
  width: 170px;
  border-radius: 5px;
}
.search-video-text {
  font-size: 13px;
  margin-top: 5px;
  font-weight: 500;
}
.search-video-artist {
  color: var(--text-9);
  font-size: 12px;
  margin-top: 5px;
}
.search-video-icon-arrow {
  font-size: 20px !important;
  font-weight: 500;
}
.search-video-playcount {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  i {
    font-weight: bold;
    margin-right: 3px;
  }
}
.search-no-data {
  text-align: center;
  padding-top: 50px;
  > span {
    color: #507DAF;
  }
}

.search-content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}