#slider {
  font-size: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
  // display: flex;
  // align-items: center;
}
#slider-wrap {
  overflow: hidden;
}
.slider-item {
  display: inline-block;
  // float: left;
  // position: absolute;
  // height: 280px;
}
.slider-img {
  width: 100%;
  -webkit-backface-visibility: hidden;
}
// .slider-item-active {
//   w
// }