.viewer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #000000;
  display: flex;
  z-index: 10000;
}
.viewer-container-left, .viewer-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 120px;
}
.viewer-container-content {
  flex: 1;
}